.fa-bars {
  font-size: 2rem;
  cursor: pointer;
}

.side-bar {
  height: 100vh;
  background-color: #EBEBEB;
  box-shadow: -1px -0.9px 17px rgba(0,0,0,0.4);

  .title {
    font-size: 1.8rem;
  }
}

.quick-links {

  a {
    font-size: 1.2rem;
  }
}